@import '~@gisatcz/ptr-core/lib/styles/_variables';

g.ptr-timeline-day,
.ptr-timeline-day > line {
	stroke-width: 1;
	stroke: var(--accent20);
	fill: var(--base10);
}

.ptr-timeline-day-label {
	stroke: none;
	fill: var(--accent30);
	font-size: 0.85rem;
}

.ptr-timeline-day.background > line {
	stroke: rgba(0, 0, 0, 0.2);
}
