@import '~@gisatcz/ptr-core/lib/styles/_variables';

.ptr-timeline-year-label {
	stroke: none;
	fill: var(--accent30);
	font-size: 0.85rem;
}

.ptr-timeline-year.background > line {
	stroke: rgba(0, 0, 0, 0.2);
}
