@import '~@gisatcz/ptr-core/lib/styles/_variables';

.ptr-timeline-day-label {
	stroke: none;
	fill: var(--accent30);
	font-size: $a0;
}

.ptr-timeline-day.background > line {
	stroke: rgba(0, 0, 0, 0.2);
}
